
<% user = get_user_name(params[:user_id]) %>
<h2>Collections of <span class="title-h2"><%=user.username%></span></h2>

<p style="color: green"><%= notice %></p>

<%= form_with(model: @collection, url: user_collections_path, method: :post) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit "Crear colección", class: "button-primary" %>
<% end %>
<div id="collection">
  <% @collections.each do |collection| %>
    <div class="user-card">
      <div class="user-info">
      <h2>
        <i class="fa fa-book fa-xl"></i>
      </h2>
      <h2 style="padding-left: 20px">
        <%= collection.name %>
      </h2>
      
      </div>
      <div class="user-bottons">
        <%= button_to '<i class="fa-solid fa-user-pen"></i>'.html_safe, new_user_collection_path(params[:user_id]), method: :get, class: "button-primary" %>
        <%= button_to '<i class="fa fa-trash"></i>'.html_safe, user_collection_path(:user_id, collection), method: :delete, class: "button-primary" %>
      </div>
    </div>
  <% end %>
</div>

