<% user = User.find(params[:user_id]) %>
<% collection = Collection.find(params[:id]) %>
<%= form_with scope: :collection, model: collection, local: true do |form| %>
  <h2>
    Collection <span class="title-h2"><%= collection.name %></span> of user <span class="title-h2"><%= user.username %></span>
  </h2>
  <p style="color: green"><%= notice %></p>
  <p style="color: red"><%= alert %></p>
      
<% end %>

