<div id="<%= dom_id note %>" class="note" style="width: 18rem;">
  <div class="card-body">
      <% if note.image %>
        <img src="..." class="card-img-top" alt="...">
      <% end %>  
    <h3 class="card-title">
      <%= note.title %>
    </h3>
    <p class="card-text">
      <%= note.text %>
    </p>
    <br>
     <div class="row" style="padding-left:25px; padding-right: 25px ">
        <div>
          <%= link_to '<i class="fa fa-gear"></i>'.html_safe, { controller: 'notes', action: 'edit', id: note }, class: 'btn btn-info'  %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe, { controller: 'notes', action: 'destroy', id: note }, class: 'btn btn-danger' %>
        </div>
      </div>

      
  </div>
  
  
</div>
