<div class="col-md-9 col-lg-9 right_col">
  <div class="row page-title">
    <div class="title_left">
      <div class="x_panel">
        <h2 >Edit note</h2> 
      </div>                
    </div>
  </div>              
  <!-- /Row with title -->
  <div>
    <%= form_with(scope: :note, model: [ :user, @note ], local: true) do |form| %>
    <% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2>
        <%= pluralize(@note.errors.count, "error") %> prohibited
        this note from being saved:
      </h2>
      <ul>
        <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title%>
    </p>

    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text, style: 'height: 200px' %>
    </p>

    <p>
      <%= form.label :image %><br>
      <%# <%= image_tag(@note.image, alt: 'Image', style: 'padding-bottom: 1rem;') if @note.image? %> %>
      <%= form.file_field :image%>
    </p>
    <br>
    <div>
      <%= form.submit class:"btn btn-info" %>
      <%= link_to 'Back', :back, class: 'btn btn-info' %>
    </div>

    <% end %>
     
  </div>
 
</div>

