<div>
  <h2 >Sharing Mangment of note: <span class="title-h2"><%= @note.title %></span></h2> 
</div>
<% user = get_user_name(params[:user_id]) %>

<h3>Friends that have access: </h3>
<div class="friends-container">
  <% friendships = get_all_friendships(user.id) %>
  <% friendships.each do |friendship| %>
    <%friend = find_user(user.id, friendship)%>
    <% if have_permission(@note.id, friend.id).present?%>
    <div class="friend">
      <div class="friend-title">
        <i class="fa-solid fa-user fa-2xl"></i> <%=friend.username%>
      </div>
      <div class="friend-bottons">
        <%= button_to '<i class="fa-solid fa-xmark"></i>'.html_safe, user_note_unshare_with_friend_path({note_id: @note.id, user_id: user.id, friend_id: friend.id}), :method => :delete,  class: "button-primary"%>
      </div>
    </div>
  <% end %>
  <% end %>
  
</div>

<h3>Share note: </h3>
<div class="friends-container">
  <% friendships = get_all_friendships(user.id) %>
  <% friendships.each do |friendship| %>
    <%friend = find_user(user.id, friendship)%>
    <% if !have_permission(@note.id, friend.id).present?%>
    <div class="friend">
      <div class="friend-title">
        <i class="fa-solid fa-user fa-2xl"></i> <%=friend.username%>
      </div>
      <div class="friend-bottons">
        <%= button_to '<i class="fa fa-share"></i>'.html_safe, user_note_share_with_friend_path({note_id: @note.id, user_id: user.id, friend_id: friend.id}), :method => :post,  class: "button-primary"%>
      </div>
    </div>
  <% end %>
  <% end %>
  
</div>
<%= button_to '<i class="fa-solid fa-rotate-left"></i> Back'.html_safe , user_note_path(params[:user_id], @note.id), :method => :get, class: "button-primary" %>