<% user = User.find(params[:id]) %>
<h1>Editing <%=user.username%> profile</h1>

<%= form_with scope: :user, model: user, local: true do |form| %>

  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username%>
  </div>

  <div>
    <%= form.label :email, style: "display: block; padding-top:10px" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label "New password", style: "display: block; padding-top:10px" %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label "Confirm new password", style: "display: block; padding-top:10px" %>
    <%= form.password_field :password_confirmation %>
  </div>
  <% if user_session_is_admin? %>
    <div>
    <%= form.label "Administrator" ,style: "display: block; padding-top:10px"%>
    <%= form.check_box :admin, checked: user.admin %>
    </div>
  <% end %>
  <div>
    <%= form.submit class: "button-primary" %>
  </div>
<% end %>

