<body id="welcome">
  <header>
    <div class="center">
      <h1>Sign Up</h1>
    </div>
  </header>

  <div class="row center">
    <%= form_with scope: :user, class: 'col-xs-6', url: users_path, local: true do |form| %>  
      <p>
        <%= form.label :username %><br>
        <%= form.text_field :username, class: 'col-xs-12' %>
      </p>

      <p>
        <%= form.label :email %><br>
        <%= form.text_field :email, class: 'col-xs-12' %>
      </p>

      <p>
        <%= form.label :password %><br>
        <%= form.password_field :password, class: 'col-xs-12' %>
      </p>

      <p>
        <%= form.label :password_confirmation %><br>
        <%= form.password_field :password_confirmation, class: 'col-xs-12' %>
      </p>
      <p>
        <%= form.submit 'Sign up' , class: "button-primary"%>
        <%= link_to 'Back', root_path, class: "button-primary" %>
      </p>

    <% end %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>

</body>
