<% if !logged? %>
  <%= controller.redirect_to root_path %>
<% else %>
  <div>
    <% user = User.find(params[:id]) %>


  <h2>Profile of: <span class="title-h2"><%=user.username%></span> </h2>
    <%= form_with scope: :user, model: user, local: true do |form| %>
      <p style=>
        <h2>
          <% if user.admin %>
            <i class="fa-solid fa-user-shield fa-xl"></i>
          <% else %>
            <i class="fa-solid fa-user fa-2xl"></i>
          <% end %>
        </h2>
      </p>
      <p>
        <%= form.label :username %><br>
        <%= form.text_field :username, :disabled => true%>
      </p>
      <p>
        <%= form.label :email %><br>
        <%= form.text_field :email, :disabled => true%>
      </p>
      <h3>
        <%= form.label "Number of notes: ", style:"padding-top: 15px" %>
        <%= count_notes_user(params[:id]) %>
      </h3>
    <% end %>
    <br>
    <p>
      <%= link_to 'Edit profile', edit_user_path(user), class: "button-primary"%>
    </p>
  </div>
<% end %>