<% user_id = user_id(session[:username])%>
<div class="left_col scroll-view" style="width: 100%">
	
  <!-- menu profile quick info -->
  <div class="profile clearfix" style="padding: 10px">
    <h3 class="profile_info">
      <p>Welcome, <%= session[:username] %></p>
    </h3>
  </div>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu ">
    <div class="menu_section">
      <ul class="nav side-menu" id="nav-menu">
        <!-- Edit view -->
        <li><%= link_to '<i class="fa fa-user"></i> Profile'.html_safe, user_path(user_id)  %></li>
        <!-- /Edit view -->  
      	<% if user_session_is_admin? %>
	        <!-- User admin view -->
          <li ><%= link_to '<i class="fa fa-id-card-o"></i> Admin management'.html_safe, users_path %></li>
	        <!-- /User admin view --> 
	      <% end %>
        <li ><%= link_to '<i class="fa fa-sticky-note"></i> Notes list'.html_safe, user_notes_url(user_id) %></li>
        <!-- Collections view -->
        <li><%= link_to '<i class="fa fa-book"></i> Collections list'.html_safe,user_collections_url(user_id) %></li>
        <!-- /Collections view -->
        <!-- Friends view -->
        <li><%= link_to '<i class="fa fa-address-book"></i> Friends list'.html_safe, user_friendships_url(user_id) %></li>
        <!-- /Friends view -->  
      </ul>
    </div>
    <div style="text-align: center">
      <%= link_to 'Log Out', '/logout', class: "button-primary"  %>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>


